{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="container-fluid col-md-4 text-center image-container">
            <div class="left-image-container"></div>
        </div>

        <div class="container-fluid col-md-4 text-center image-container">
            <br><br>
            <h1 class="logo-font">
                Gregmediscrubs!</h1>
            <hr>
            <h2>Get comfortable at work!</h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'testimonial_list' %}"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Testimonials</a>
                </h4>
                <h4>
                    <a href="{% url 'store' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>

        </div>
        <div class="container-fluid col-md-4 text-center image-container">
            <div class="right-image-container"></div>
        </div>

    </div>
</div>

<br><br>
{% endblock %}