<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'store' %}"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'store' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'store' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'store' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'store' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'store' %}?category=Men,Women"
                id="scrub-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Scrubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="scrub-link">
                <a href="{% url 'store' %}?category=Men" class="dropdown-item">Men</a>
                <a href="{% url 'store' %}?category=Women" class="dropdown-item">Women</a>
                <a href="{% url 'store' %}?category=Men,Women,Surgical,Nonsterile" class="dropdown-item">All
                    Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5"
                href="{% url 'store' %}?category=Surgical,Nonsterile" id="gown-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gowns
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gown-link">
                <a href="{% url 'store' %}?category=Surgical" class="dropdown-item">Surgical</a>
                <a href="{% url 'store' %}?category=Nonsterile" class="dropdown-item">Nonsterile</a>
            </div>
        </li>
    </ul>
</div>